	#bar{
	    background:#3083FF;		   
	    position:absolute;
	    left: 0;
	    right: 0;
	    top: 65px;
	    padding:15px;
	    height:55px;
	    background-size:100%;   
	    z-index:-1;   
	}
	
	#title{
	left:525px;
	font-family: Impact;
	color: #0000CD;	
	height: 60px;
	top:0px;
	width:100%;
	overflow:visible;
	position:absolute;
	} 
	
	#option_title
	{
	left:525px;	
	height: 70px;
	width:100%;
	top: 140px;
	overflow:hidden;
	position:absolute;
	} 
	
	#movie_name{
	
	position:absolute;
	top: 220px;
	left: 350px;
	min-height:60;
	width:160;
	
	}
	
	#movie_name p{
	
	display: inline;
	
	}
	
	#status{
	
	position:absolute;
	top: 220px;
	left: 710px;
	
	
	
	
	}
	
	#status p{
	
	display: inline;
	
	
	
	}
	
	.submit-main{
	
     overflow:hidden; 
	 display:inline;	 
	 width:100%;	
	 top:300px; 
	 height:65px;	 	 
	 position:absolute;
	 left:585px;
	
	
	
	}
	
	#submit-button{			
			
	min-height:60px;			
	min-width: 150px;	
	padding:5px 10px;
	font: bold 22px Arial;
	
	
		
	}
	
	#submit-message{
		
	
	}
	
	.buttons-center{	
	 overflow:hidden; 
	 display:inline;
	 left: 350px;	
	 width:100%;	
	 top:80px; 
	 height:65px;	 	 
	 position:absolute;
			
	}
	
	.main-button{			
			
	min-height:60px;		
	background-color:#98C1FF;		
	min-width: 150px;	
	padding:5px 10px;
	border-color:gray;
	
	
	}
	
	
	
	
